__pycache__/
*.py[codz]
*.pyc
*.egg-info/
.mypy_cache/
.ruff_cache/
*.mako

.Python
build/
dist/
var/
wheels/
share/python-wheels/
versions/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

.ipynb_checkpoints
notebooks_test/

.env
.envrc
.venv
env/
venv/
venv1/
ENV/
env.bak/
venv.bak/

.vscode/

chroma_db/
sitecustomize.py