services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    #ports:
    #  - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  api:
    build:
      context: .
      dockerfile: Docker/Dockerfile.api
    image: personal_finance_tracker_api:latest
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    volumes:
      - ./:/app 
    command: ["uvicorn", "api.main:app", "--host", "0.0.0.0", "--port", "8000"]

  streamlit:
    build:
      context: .
      dockerfile: Docker/Dockerfile.streamlit
    image: personal_finance_tracker_frontend:latest
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - api
    ports:
      - "8501:8501"
    volumes:
      - ./:/app
    environment:
      - API_BASE_URL=http://api:8000

volumes:
  pgdata: